@model RevenueCash.Models.Juego.Game

@{
    ViewBag.Title = "LevelFinished";
    Layout = "/Views/shared/_Layout.cshtml";
}

<div>
    NIVEL FINALIZADO
</div>

@if (Model.CurrentLevel.NextLevel != null)
{
    <div>
        @Html.ActionLink("Siguiente nivel", "NextLevel")
    </div>
}